*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body
{
	font-family: 'Poppins', sans-serif;
}
nav
{
	flex: 1;
	text-align: right;
}
nav ul
{
	display: inline-block;
	list-style-type: none;
}
nav ul li
{
	display: inline-block;
	margin-right: 20px;
}
/*---navigation-----*/
#nav-bar
{
	position: sticky;
	top: 0;
	z-index: 10;
}
.navbar-brand img
{
	height: 100px;
	padding-left: 30px;
}
.navbar-nav li
{
	padding: 0 10px;
}
.navbar-nav li a
{
	float: right;
	text-align: left;
}
#nav-bar ul li a:hover
{
	color: #b4ea38!important;
}
.navbar
{
	background: #fff;
	display: flex;
	align-items: center;
	padding: 20px;
}
.navbar-toggler
{
	border: none!important;
}
.nav-link
{
	color: #555!important;
	font-weight: 600;
	font-size: 16px;
}
/*---header---*/
.header{
	background: #fff;
}
.header .row{
	margin-top: 70px;
}
.container
{
	max-width: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}
.row
{
	display: flex;
	align-items: left;
	flex-wrap: wrap;
	justify-content: space-around;
}
.col-2{
	flex-basis: 50%;
	min-width: 300px;
}
.col-2 img{
	max-width: 100%;
	padding: 50px 0;
}
.col-2 h1{
	font-size: 50px;
	line-height: 60px;
	margin: 25px 0;
}
.header a
{
	text-decoration: none;
	color: #555;
}
.header p
{
	color: #555;
}
.header .btn
{
	display: inline-block;
	background: #b4ea38;
	color: #fff;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px;
	transition: background 0.5s;
}
.header .btn:hover
{
	background: #b4ea38;
}
/*-----Slider----*/
#slider
{
	width: 100%;
}
.carousel-caption
{
	top: 50%;
	transform: translateY(-50%);
	bottom: initial!important;
}
.carousel-caption h5
{
	color: #fff;
	font-size: 42px;
}
/*--------About------*/
#about
{
	padding-top: 50px;
	padding-bottom: 50px;
	color: #555;
}
#about .btn
{
	margin-top: 20px;
	margin-bottom: 30px;
}
.about-content
{
	padding-top: 20px;
}
.skills-bar p
{
	margin-bottom: 6px;
	font-weight: 600;
}
.progress-bar
{
	border-radius: 16px;
}
.progress
{
	border-radius: 16px !important;
	margin-bottom: 20px;
}
#bold
{
	color: #fff;
}
/*-----Menus---*/
#menus
{
	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));
	background-size: cover;
	background-position: center;
	color: #efefef !important;
	background-attachment: fixed;
	padding-top: 50px;
	padding-bottom: 50px; 
}
#menus h1
{
	text-align: center;
	color: #efefef !important;
	padding-bottom: 10px;
}
#menus h1::after
{
	content: '';
	background: #efefef;
	display: block;
	height: 3px;
	width: 170px;
	margin: 20px auto 5px;
}
.menus
{
	margin-top: 40px;
}
.icon
{
	font-size: 40px;
	margin: 20px auto;
	padding: 20px;
	height: 180px;
	width: 180px;
	border-radius: 50%;
}
#menus p
{
	font-size: 14px;
	margin-top: 20px;
	color: #ccc;
}
.menus .col-md-3:hover
{
	background: #b4ea38;
	cursor: pointer;
}
/*--------Team members-------*/
#team
{
	padding-top: 50px;
	padding-bottom: 50px;
	color: #555;
}
.img-responsive
{
	height: 180px;
	width: 180px;
}
h1
{
	text-align: center;
	color: #555 !important;
	padding-bottom: 10px; 
}
h1::after
{
	content:'';
	background: #b4ea38;
	display: block;
	height: 3px;
	width: 170px;
	margin: 20px auto 5px;
}
.profile-pic
{
	margin-top: 25px;
}
.profile-pic .img-box
{
	opacity: 1;
	display: block;
	position: relative;
}
.profile-pic .img-box img
{
	filter: grayscale(1);
}
.profile-pic .img-box img:hover
{
	filter: grayscale(0);
	cursor: pointer;
}
.profile-pic h2
{
	font-size: 22px;
	font-weight: bold;
	margin-top: 15px;
	color: #007bff !important;
}
.profile-pic h3
{
	font-size: 15px;
	font-weight: bold;
	margin-top: 15px;
}
#team .fa
{
	height: 25px;
	width: 25px;
	color: #007bff !important;
	background: #fff;
	padding: 4px;
	border-radius: 50%;
}
.img-box ul
{
	padding: 15px 0;
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
}
.img-box ul li
{
	padding: 5px;
	display: inline-block;
}
.img-box:hover ul
{
	opacity: 1;
}
.img-box ul, .img-box ul li
{
	transition: 0.5s;
}
/*-------Testimonials----*/
#testimonials
{
	padding-top: 50px;
	padding-bottom: 50px;
}
#testimonials .row
{
	margin-top: 30px;
}
.col-md-4
{
	margin: 40px auto;
}
.profile
{
	padding: 70px 10px 10px;
	background-color: #efefef;
}
.user
{
	width: 120px;
	height: 120px;
	border-radius: 50%;
}
.profile img
{
	top: -60px;
	left: calc(50% - 60%);
}
.profile h3
{
	font-size: 20px;
	margin-top: 15px;
	color: #007bff;
}
#testimonials span
{
	font-size: 12px;
	color: #333;
}
blockquote
{
	font-size: 16px;
	line-height: 30px;
}
.profile:hover
{
	box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
	cursor: pointer;
	transition: 0.5s;
}
/*------Get in Touch-----*/
#contact
{
	background: #efefef;
	padding-top: 40px;
	padding-bottom: 40px;
	color: #777;
}
.contact-form
{
	padding: 0px;
}
.form-control
{
	border-radius: 0 !important;
	border: none !important;
}
::placeholder
{
	color: 
}
.form-group
{
	padding-bottom: 10px;
}
.follow
{
	background: #fff;
	padding: 10px;
	margin: 
}
.contact-info .fa
{
	margin: 10px;
	color: #007bff;
	font-weight: bold;
}
/*----footer----*/
.footer{
	background: #000;
	color: #8a8a8a;
	font-size: 14px;
	padding: 60px 0 20px;
}
.footer p{
	color: #8a8a8a;
}
.footer h3{
	color: #fff;
	margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
	min-width: 250px;
	margin-bottom: 20px;
}
.footer-col-1{
	flex-basis: 30%;
}
.footer-col-2{
	flex: 1;
	text-align: center;
}
.footer-col-2 img{
	width: 180px;
	margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
	flex-basis: 12%;
	text-align: center;
}
.footer ul{
	list-style-type: none;
}
.app-logo img{
	width: 140px;
}
.footer hr{
	border: none;
	background: #b5b5b5;
	height: 1px;
	margin: 20px 0;
}
.copyright{
	text-align: center;
}
.menu-icon{
	width: 28px;
	margin-left: 20px;
	display: none;
}
/*-------- media query for menu ----*/
@media only screen and (max-width: 800px)
{
	nav ul
	{
		position: absolute;
		top: 70px;
		left: 0;
		background: #333;
		width: 100%;
		overflow: hidden;
		transition: max-height 0.5s;
	}
	nav ul li
	{
		display: block;
		margin-right: 50px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	nav ul li a
	{
		color: #fff;
	}
	.menu-icon
	{
		display: block;
		cursor: pointer;
	}
}
/*--media querry for less than 600 screen size-----*/
@media only screen and (max-width: 600px)
{
	.row
	{
		text-align: center;
	}
	.col-2, .col-3, .col-4
	{
		flex-basis: 100%;
	}
}