*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family: 'Poppins', sans-serif;
}
/* website background image designing */
/*---navigation-----*/
nav
{
    flex: 1;
    text-align: right;
}
nav ul
{
    display: inline-block;
    list-style-type: none;
}
nav ul li
{
    display: inline-block;
    margin-right: 20px;
}
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar-brand img
{
    height: 100px;
    padding-left: 30px;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    float: right;
    text-align: left;
}
#nav-bar ul li a:hover
{
    color: #b4ea38!important;
}
.navbar
{
    background: #fff;
    display: flex;
    align-items: center;
    padding: 20px;
}
.navbar-toggler
{
    border: none!important;
}
.nav-link
{
    color: #555!important;
    font-weight: 600;
    font-size: 16px;
}
/*------content--------*/
.container
{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row
{
    display: flex;
    align-items: left;
    flex-wrap: wrap;
    justify-content: space-around;
}
.small-container
{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.detail-container
{
    margin-top: 80px;
}
.detail-container .col-2
{
    padding: 20px;
}
.detail-container h4
{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.detail-container select
{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.detail-container input
{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #b4ea38;
}
input:focus
{
    outline: none;
}
.btn
{
    display: inline-block;
    background: #b4ea38;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover
{
    background: #b4ea38;
}
.col-2
{
    flex-basis: 50%;
    min-width: 300px;
}
.detail
{
    width: 500px;
    height: 500px;
    padding: 0;
}
.title
{
    text-align: center;
    margin: 0 auto 40px;
    position: relative;
    line-height: 60px;
    color: #555;
    padding-top: 70px;
}
.title::after
{
    content: '';
    background: #b4ea38;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
/*----footer----*/
.myVideo
{
    width: 100%; 
    height: 100%;
}
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
.footer ul{
    list-style-type: none;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}
/*-------- media query for menu ----*/
@media only screen and (max-width: 800px)
{
    nav ul
    {
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li
    {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a
    {
        color: #fff;
    }
    .menu-icon
    {
        display: block;
        cursor: pointer;
    }
}
/*--media querry for less than 600 screen size-----*/
@media only screen and (max-width: 600px)
{
    .row
    {
        text-align: center;
    }
    .col-2, .col-3, .col-4
    {
        flex-basis: 100%;
    }
}